<app-header class="fixed-top" ></app-header>
<div class="container-fluid h-100" style="margin-top: 6.5%;">
    <div class="row justify-content-between align-items-start text-uppercase text-center ">
        <div class="col-3 bg-secondary">
            <app-dashboard-left></app-dashboard-left>
        </div>
        <div class="col bg-light">
            <app-dashboard-mid></app-dashboard-mid>
        </div>
        <div class="col-3 bg-secondary">
            <app-dashboard-right></app-dashboard-right>
        </div>
    </div>
</div>