<div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-capitalize" id="exampleModalLabel">Edit Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table text-capitalize">
                    <tr>
                        <td class="col-4 mb-3 ">Employee ID</td>
                        <td class="col">
                            <input id="employeeID" class="p-0 mb-3" type="text" placeholder="E02" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4 mb-3 ">Employee name</td>
                        <td class="col">
                            <input id="employeename" class="p-0 mb-3" type="text" placeholder="Tun" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4 mb-3  ">Email current</td>
                        <td class="col">
                            <input id="emailcurrent" class="p-0 mb-3" type="email"  placeholder="thitun@gamil.com" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4 mb-3  ">Email new</td>
                        <td class="col">
                            <input id="emailnew" class="p-0 mb-3" type="email"  required>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4 mb-3  ">Area current</td>
                        <td class="col">
                            <input id="areacurrent" class="p-0 mb-3" type="text"  placeholder="East" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-4 mb-3  ">Area new</td>
                        <td class="col">
                            <input id="areanew" class="p-0 mb-3" type="text"  required>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="col-4 mb-3">Assignee name</td>
                        <td class="col">
                            <input type="text" class="mb-3" placeholder="Required Assignee name" required>
                        </td>
                    </tr> -->
                    <!-- <tr>
                        <td class="col-4 mb-3">Priority<label for="Priority"></label></td>
                        <td class="col">
                            <select class="form-select mb-3" id="Priority" required aria-label="select priority">
                                <option value="" disabled>Select priority</option>
                                <option value="lower">Lower</option>
                                <option value="middle">Middle</option>
                                <option value="high">High</option>
                                <option value="important">Important</option>
                            </select>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="col-4 mb-3">Status<label for="Status"></label></td>
                        <td class="col">
                            <select class="form-select mb-3" id="Status" required aria-label="select priority">
                                <option value="" disabled>Select status</option>
                                <option value="Available">Available</option>
                                <option value="Working" >Working</option>
                                <option value="Breaking">Breaking</option>
                                <option value="LayOff">LayOff</option>
                            </select>
                        </td>
                    </tr>
                   
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>